

#back-button{
    position:  absolute;
    top:10px;
    left:10px;
}

.ball{
    animation: ball 5000ms infinite linear alternate;
    height:300px;
    width:300px;
    top: 5%;
    left: 40%;
    align-items: center;
    z-index: 0;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
}

.breath{
    animation: in 10000ms infinite linear alternate;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1;
    text-align: center;
    
}

#in{
    animation-delay: 5000ms;
}

@keyframes in {
    0%{
        opacity: 1;
        font-size: 100%;
    }
    25%{
        opacity: 0.25;
        font-size: 50%;
    }
    50%{
        opacity: 0;
        font-size: 0%;
    }
    75%{
        opacity: 0.25;
        font-size: 50%;
    }
    100%{
        opacity: 1;
        font-size: 100%;
    }
}


@keyframes ball{
    from {
        height:300px;
    width:300px;
}
    to {
        width:500px;
        height:500px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #bb71f3;
    background: -moz-linear-gradient(-45deg,#09203f 0%,#537895 100%);
    background: -webkit-linear-gradient(-45deg,#09203f 0%,#537895 100%);
    background: linear-gradient(135deg,#09203f 0%,#537895 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3',endColorstr='#3d4d91',GradientType=1);
    font-family: helvetica neue,futura,trebuchet ms,Arial;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: white;
}

.counter-container {
    position: absolute;
    height: 30%;
    width: 60%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

.min-container, .sec-container {
    width: 35%;
    float: left;
    height: 100%
}

.min-text-container, .sec-text-container {
    width: 15%;
    float: left;
    height: 100%;
    line-height: 50%;
    font-size: 500%;
    line-height: 264px;
    font-weight: bolder;
    text-align: center;
}

.digit-container {
    float: left;
    width: 40%;
    margin-left: 8%;
    height: 100%;
}

.digit-upper{
    height: 49%;
    width: 98%;
    animation-iteration-count: infinite;
}

.digit-lower{
    height: 49%;
    width: 98%;
    animation-iteration-count: infinite;
}

.header {
    font-size: 32px;
    padding-top: 12px;
    text-align: center;
}

.sec1upper, .sec1lower{animation-duration: 10s;}

.sec1upper {animation-name: animate-upper-sec1}
.sec1lower {animation-name: animate-lower-sec1}

.sec2upper, .sec2lower{animation-duration: 60s;}

.sec2upper {animation-name: animate-upper-sec2}
.sec2lower {animation-name: animate-lower-sec2}

.min1upper, .min1lower {animation-duration: 600s}

.min1upper {animation-name: animate-upper-min1}
.min1lower {animation-name: animate-lower-min1}

.min2upper, .min2lower {animation-duration: 6000s}

.min2upper {animation-name: animate-upper-min2}
.min2lower {animation-name: animate-lower-min2}

@keyframes animate-upper-sec1 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    1% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}

    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}
    11% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    20% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    21% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    30% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    31% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}

    40% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}
    41% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    50% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    51% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    60% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    61% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    70% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    71% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    80% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    81% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    90% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    91% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    100% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
}

@keyframes animate-lower-sec1 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    1% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    11% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}

    20% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}
    21% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    30% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    31% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    40% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    41% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    50% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    51% {border-left: 12px solid white; border-right: 12px solid white;  border-bottom: 12px solid white}

    60% {border-left: 12px solid white; border-right: 12px solid white;  border-bottom: 12px solid white}
    61% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid transparent}

    70% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid transparent}
    71% {border-left: 12px solid white; border-right: 12px solid white;  border-bottom: 12px solid white}

    80% {border-left: 12px solid white; border-right: 12px solid white;  border-bottom: 12px solid white}
    81% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    90% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    91% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    100% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
}

@keyframes animate-upper-sec2 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    14.66% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    15.66% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}

    31.33% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}
    32.33% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    47.98% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    48.98% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    64.64% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    65.64% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}

    81.3% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}
    82.3% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    97.5% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    98.5% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
}

@keyframes animate-lower-sec2 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    14.66% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    15.66% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    31.33% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    32.33% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}

    47.98% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}
    48.98% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    64.64% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    65.64% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    81.3% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    82.3% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}

    97.5% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}
    98.5% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
}

@keyframes animate-upper-min1 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    9.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}

    19.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}
    20% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    29.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    30% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    39.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    40% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}

    49.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}
    50% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    59.9% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    60% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    69.9% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    70% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    79.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    80% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    89.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    90% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    99.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
}

@keyframes animate-lower-min1 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    9.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    19.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    20% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}

    29.9% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}
    30% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    39.9% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    40% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    49.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    50% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}

    59.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}
    60% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    69.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    70% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    79.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    80% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    89.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    90% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}

    99.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
}
/*******************************************************************************************************/
@keyframes animate-upper-min2 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    9.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}

    19.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent}
    20% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    29.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    30% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    39.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    40% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}

    49.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid transparent; border-bottom: 12px solid white}
    50% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    59.9% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    60% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}

    69.9% {border-left: 12px solid white; border-right: 12px solid transparent; border-top: 12px solid white; border-bottom: 12px solid white}
    70% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}

    79.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
    80% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    89.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    90% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}

    99.9% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid white}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-top: 12px solid white; border-bottom: 12px solid transparent}
}

@keyframes animate-lower-min2 {
    0% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    9.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    10% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    19.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    20% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}

    29.9% {border-left: 12px solid white; border-right: 12px solid transparent;  border-bottom: 12px solid white}
    30% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}

    39.9% {border-left: 12px solid transparent; border-right: 12px solid white;  border-bottom: 12px solid white}
    40% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    49.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    50% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}

    59.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}
    60% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    69.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    70% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}

    79.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid transparent}
    80% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}

    89.9% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
    90% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}

    99.9% {border-left: 12px solid transparent; border-right: 12px solid white; border-bottom: 12px solid white}
    100% {border-left: 12px solid white; border-right: 12px solid white; border-bottom: 12px solid white}
}