.sleep-info {
    margin-top: 20px;
}

.mood-info {
    margin-top: 20px;
}

.meditation-info {
    margin-top: 20px;
}

.prompt {
    height: 30px;
    width: 400px;
}

.mind-reason-label {
    margin-block-start: 10px
}

.entry-detail {
    padding: 10px;
    height: 100%;
    overflow: auto;
}

button {
    margin-bottom: 20px;
}